<?xml version="1.0" ?>

<robot name="staubli_tx2_60l" xmlns:xacro="http://wiki.ros.org/xacro">

  <!-- loading urdf -->
  <xacro:include filename="$(find staubli_tx2_60l_moveit)/urdf/tx2_60l_macro.xacro"/>
  <xacro:include filename="$(find staubli_tx2_60l_moveit)/urdf/pince.xacro" />
  <xacro:include filename="$(find staubli_tx2_60l_moveit)/urdf/materials.xacro"/>
  <xacro:include filename="$(find staubli_tx2_60l_moveit)/urdf/table.xacro" />
  <xacro:include filename="$(find staubli_tx2_60l_moveit)/urdf/cell.xacro" />
  <xacro:staubli_tx2_60l prefix="staubli_"/>

  <!-- linking robot to world,workspaces and end-effector -->
  <link name="world" />

  <joint name="world_cell" type="fixed">
      <origin rpy="0 0 0" xyz="-0.2 0.48 0.698"/>
      <parent link="world" />
      <child link="pieds_cellule_link" />
  </joint>

  <joint name="world_table" type="fixed">
      <origin rpy="0 0 0" xyz="0 0 0.645" />
      <parent link="world" />
      <child link="pieds_table_link" />
  </joint>

  <joint name="table_staubli" type="fixed">
      <origin rpy="-1.57079 3.14 0" xyz="0.201 0.0075 0.008" />
      <parent link="plateau_table_staubli_link" />
      <child link="staubli_base_link" />
  </joint>

  <joint name="tool_fixation" type="fixed" >
    <origin rpy="-1.57079 0 0" xyz="0 0 0.00995" />
    <parent link="staubli_tool0" />
    <child link="fixation_link" />
  </joint>

</robot>
