<?xml version="1.0" ?>

<robot name="yaskawa_4" xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <!-- loading urdf -->
    <xacro:include filename="$(find yaskawa4)/urdf/materials.xacro" />
    <xacro:include filename="$(find yaskawa4)/urdf/table.xacro" />
    <xacro:include filename="$(find yaskawa4)/urdf/hc10_for_env.urdf" />
    <xacro:include filename="$(find yaskawa4)/urdf/walls.xacro" />
    <xacro:include filename="$(find yaskawa4)/urdf/pince.xacro"/>
    <xacro:yaska prefix="yaska4" />
    <!-- linking every robots to world and workspaces -->
    <link name="world" />

    <joint name="world_walls_joint" type="fixed">
        <parent link="world" />
        <child link="walls_link" />
    </joint>

    <joint name="world_table_joint" type="fixed">
        <parent link="world" />
        <child link="table_link" />
    </joint>

    <joint name="link_base" type="fixed">
        <origin rpy="0 0 0" xyz="0 0 0.6376" />
        <parent link="table_link" />
        <child link="yaska4_base_link" />
    </joint>

    <joint name="tool_cylinder" type="fixed" >
        <origin rpy="0 0 0" xyz="0 0 0" />
        <parent link="yaska4_tool0" />
        <child link="cylinder_link" />
    </joint>
</robot>