<?xml version="1.0" ?>

<robot name="yaskawa_3" xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <!-- loading urdf -->
    <xacro:include filename="$(find yaskawa3)/urdf/hc10_for_env.urdf" />

    <xacro:yaska prefix="yaska3" />
    <!-- linking every robots to world and workspaces -->
    <link name="world" />

    <joint name="link_base" type="fixed">
        <origin rpy="0 0 0" xyz="0 0 0" />
        <parent link="world" />
        <child link="yaska3_base_link" />
    </joint>

</robot>